<h1>Listing photos</h1>

<div id="photos_window">

</div>


<script type="text/temp" charset="utf-8" id="index_temp">
<ul>

<%% for (var i = 0; i < photos.length; i++) { %>
	<li>
	<img src=<%%= photos[i].url %> class='img-polaroid'></img>
	</li>
<%% } %>

</ul>

<h2>Add a Photo</h2>
<form action="index_submit" method="get" accept-charset="utf-8">
	<label for="URL">URL</label>
	<input type="text" name="photo[url]" value="" id="URL">
	<input type="submit" value="Submit" id="new_photo">
</form>

</script>