<h2>Lookin At Pictures</h2>

<div class="thumbnail">
	<img src=<%= photo.url %> style="width: 850px;" class="img-enlarged">
  </img>
</div>

<a href="#" id='back-link' class='btn btn-info'>RUN AWAY!</a>

