<h2>Lookin At Pictures</h2>

<div class="thumbnail" style="height: 600px; width: 850px;">
	<img src=<%= photo.url %> class="img-enlarged">
  </img>
</div>

<a href="#" id='back-link' class='btn btn-info'>RUN AWAY!</a>

