<h2>Lookin At Pictures</h2>

<a href="#" id='back-link' class='btn btn-info'>RUN AWAY!</a>

<div style="position: relative;" id="image-wrapper">
	<img src=<%= photo.url %> class="img-enlarged" style="position:absolute;">
  </img>
</div>



