<% for (var i = 0; i < photos.length; i++) { %>
	<div class="thumbnail">
	<img src=<%= photos[i].url %> class='img-polaroid' style="height: 220px;">
  </img>
  <div class="caption">
    <button data-id="<%= photos[i].id %>" class="btn btn-primary">"Delete this Kitten"</button>
  </div>
	</div>
	<hr />
<% } %>

<h2>Add a Photo</h2>
<form action="index_submit" method="get" accept-charset="utf-8">
	<label for="URL">URL</label>
	<input type="text" name="photo[url]" value="" id="URL">
	<input type="submit" value="Submit" id="new_photo">
</form>
